body {
    font-family: Georgia, 'Times New Roman', Times, serif
    padding-top: 170px;
    background-image: url(../images/qq.png); 
    background-size: cover;
    
 
}
:root {
  --denorange: #ff984f; 
}

button {
    background-color: #ff984f; /* Baggrundsfarve */
    color: rgb(255, 255, 255); /* Tekstfarve */
    padding: 25px 50px; /* Indvendig margen (størrelse på knappen) */
    font-size: 25px; /* Skriftstørrelse */
    border: none; /* Fjerner kant */
    border-radius: 10px; /* Runder kanterne */
    cursor: pointer; /* Skifter til pointer ved hover */
    transition: background-color 0.3s; /* Tilføjer en jævn overgang på hover */
    margin-top: 25px;
    box-shadow: 0px 0px 50px #000000;
}

input[type="radio"] {
  appearance: none; /* Fjern standardudseendet */
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  outline: none
  cursor: pointer;
  margin-right: 30px;

}

input[type="radio"]:checked {
  background-color: #ff984f; /* Fyld den grøn, når den er valgt */
  border-color: #ff984f;
}


  
  div{
    text-align: center;
    font-size: 15mm;
    color: #ff984f;
    text-shadow:1px 1px 3px rgb(255, 34, 0), 0 0 10px rgb(58, 57, 57), 0 0 5px rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

 

/* Style for svar (radioknapper og labels) */
.answer-box {
    border: 8px solid #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    text-align: left;
    box-shadow: 0px 0px 25px #000000;

}
.answer-box:hover{color: rgb(255, 0, 0); background-color: rgba(255, 255, 255, 0.5);}


  p {
    border: 15px solid #ffffff;
    border-style: double;
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 120px;
    padding: 20px;
    color: rgb(255, 136, 0);
    text-shadow: 1px 1px 3px rgb(255, 34, 0), 0 0 10px rgb(58, 57, 57), 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 25px #000000;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    
  }

