body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 170px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;  
    background-size: cover;
}

button {
    background-color: #36b827; /* Baggrundsfarve */
    color: white; /* Tekstfarve */
    padding: 15px 30px; /* Indvendig margen (størrelse på knappen) */
    font-size: 18px; /* Skriftstørrelse */
    border: none; /* Fjerner kant */
    border-radius: 10px; /* Runder kanterne */
    cursor: pointer; /* Skifter til pointer ved hover */
    transition: background-color 0.3s; /* Tilføjer en jævn overgang på hover */
}

  h1{
    text-align: center;
    font-size: 15mm;
  }
  startQuiz{
    text-align: center;
  }
  div{
    text-align: center;
  }
.landing{background-image:url('images/baggrundtræ.png');}
 .question {
 font-size: 10mm;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-image: url('images/wood-background-realistic_107791-102.avif');
 background-size: cover;
  }
 
 
 
  p{
    font-size: 15mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

